# Discord Bot Token (obligatorio)
DISCORD_TOKEN=418a76443bad3fe5a3f71424729faf9b4d28d272b5d92eadc2a985329ec64af9
CLIENT_ID=1528108264003342357

# Spotify API Credentials (obligatorio para soporte de Spotify)
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

# Mercado de Spotify (opcional, por defecto US)
SPOTIFY_MARKET=US
